*{
  margin: 0px;
  padding: 0px;
  box-sizing:border-box;
}
body{
  background-image: url("https://wallpaperaccess.com/full/32117.jpg");
  cursor: url("paw.png");
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color:	#C6832C;
}
.name{
  color: #FDCD09;
  font:bold;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 20px;
  font-family: 'Permanent Marker' ;

}
.nav-link{
  display: flex;
  justify-content: space-around;
  width: 30%;
  list-style: none;
  font-family: 'Permanent Marker' ;
  font-size: 20px;
  color: #472E20;
}

.nav-items{
  text-decoration: none;
  color: #7C4838;
}
.nav-items:hover{
 color:#FDCD09;
 font-size: 25px;
}
.content{
  width:50%;
  height:50%;
}
