body{
	background-color: #c1ffb6; /*light green #c1ffb6 #ffb6c1 pink*/

}

h1{
	margin: 20;
	color: #2E8B57;


}
.nav{

}

.main_div{
	width: 50%;
	background-color: transparent;
	border-radius: 40px;
	border:1px dotted black;
}

#img1{
	width: 50%;
	padding: 20px;
}

#kirby-jump{
	width:60%;
}
